@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
  --main-background: hsl(30, 38%, 92%);
  --primary: hsl(158, 36%, 37%);
  --on-primary: hsl(0, 0%, 100%);
  --active: hsl(158, 36%, 17%);
  --product-card-background: hsl(0, 0%, 100%);
  --attribution-link: hsl(228, 45%, 44%);
  --product-card-title: hsl(212, 21%, 14%);
  --body-copy-color: hsl(228, 12%, 48%);
  --body-copy-font-size: 14px;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background);

  .product-card {
    max-width: 325px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--product-card-background);

    &__image {
        border-radius: 8px 8px 0 0;
    }

    &__info {
      display: flex;
      flex-direction: column;
      padding: 24px;
    }

    &__category {
      color: var(--body-copy-color);
      font-family: 'Montserrat', 'sans-serif';
      font-size: var(--body-copy-font-size);
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    &__name {
      margin: 16px 0;
      color: var(--product-card-title);
      font-family: 'Fraunces', 'serif';
      line-height: 2rem;
    }

    &__description {
      color: var(--body-copy-color);
      font-family: 'Montserrat', 'sans-serif';
      font-size: var(--body-copy-font-size);
      line-height: 1.4rem;
    }

    &__price-group {
      display: flex;
      align-items: center;
      gap: 16px;
      margin: 20px 0 16px;
    }

    &__discounted-price {
      color: var(--primary);
      font-family: 'Fraunces', 'serif';
      font-size: 32px;
    }

    &__original-price {
      color: var(--body-copy-color);
      font-family: 'Montserrat', 'sans-serif';
      font-size: var(--body-copy-font-size);
    }

    &__button {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border: none;
      border-radius: 8px;
      background-color: var(--primary);
      color: var(--on-primary);
      font-family: 'Montserrat', 'sans-serif';
      font-weight: 700;
      font-size: 12px;
      cursor: pointer;

      &:active {
        background-color: var(--active);
      }

      img {
        width: 12px;
        height: 12px;
      }
    }
  }
}